body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_adm {
    width: 70%;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

